.counterSection{


.counterContent{

    i{
        color: $primary;
        font-size: 36px;
    }
    .counterNumber{
        font-size: 25px;
        font-weight: bold;
   }

    .happyClient{
        font-size: 15px;
        color: $scondaryLight;
    }
}


}