.pricingSection{

    position: relative;

    .popupdark{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: black;
        opacity: 0.6;
        display: none;
    }


    .popupModal{

        img{
            width: 200px;
            margin-bottom: 20px;
        }

        .mainModal{
            .bookBtn{
                padding: 10px 40px;
                background-color: transparent;
                color: $primary;
                border-radius: 70px;
                transition: all .2s linear;
               margin-top: 20px;
        
                &:hover{
                    background-color: $primary!important;
                    color: black;
                }
            }

            input{
                color: white;
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                border: 1px solid #455a64 ;
                height: 40px;
                padding: 0px 10px;
                transition: all.3s;
                margin-top: 14px;
                &:focus{
                    border-color: $primary;
                }
            }
        }
       z-index: 1;
        height: auto;
        transition: all .3s linear;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 53%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #1a2023;
        padding: 30px 30px;
        .mHeader{
            display: flex;
            justify-content: space-between;
            button{
                outline: none;
                border: none;
                background: none;
                cursor: pointer;
                i{
                    color: $primary;
                    font-size: 25px;
                }
            }
        }
    }


    


   h6{
       font-size: 15px;
       color: gray;
   } 

   h2{
       font-weight: bold;
       font-size: 30px;
       margin: 20px 0px;
   }

   button{
       font-weight: bold;
   }

   .pricingActive{
       background-color: $primary;
       color: black;
   }

   @mixin comon($green) {
    color: $green!important;
   }

   .month2{
    h2{
        @include comon(green);
    }
    }

.month3{
    h2{
        @include comon($primary);
    }
    }

.month4{
    h2{
        @include comon(purple);
    }
}

.oneTime{
    h2{
        font-size: 24px;
        font-weight: bold;
    }
    .tier1 h2{
        @include comon(#07d5c0)
    }
    .tier2 h2{
        @include comon(green)
    }
    .tier3 h2{
        @include comon($primary)
    }
    .tier4 h2{
        @include comon(purple)
    }
    
}




.priceBox{
  
    position: relative;
    padding: 0px 15px;
    height: 1000px;
    transition: all .2s linear;
    margin-top: 80px!important;
    
    &:hover{
        transform: scale(1.1);
    }
    h2{
        font-size: 27px;
        font-weight: 400;
        color: #07d5c0;
    }
    p{
        font-size: 23px;
        color: $scondaryLight;
    }

    img{
        max-width: 140px;
        margin-top: 20px;
    }    

    ul{
        li{
            list-style: none;
            margin-top: 14px;
            font-size: 13px;
            .fa-check{
                color: $primary;
            }
            .fa-close{
                color: red;
            }
            i{
                margin-right: 10px;
            }
        }
    }



    .bookBtn{
        
        padding: 10px 40px;
        background-color: transparent;
        color: $primary;
        border-radius: 70px;
        transition: all .2s linear;
        position: absolute;
        bottom: 40px;
        left: 50px;

        &:hover{
            background-color: $primary!important;
            color: black;
        }
    }

    .bestSeller{
        background-color: $primary;
        color: black;
        padding: 0px 10px;
        position: absolute;
        top: 15px;
        font-size: 14px;
        right: -20px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        
        transform: rotate(50deg);
    }


}


.oneTime{
    .tier{
        height: 700px;
    }



}





}


.monthHide{
    height: 0;
    display: none;
}

.modalShow{
    opacity: 1!important;
    pointer-events: auto!important;
}

.darkFade{
    display: block!important;
}