// start responsive navbar

@media all and (max-width:992px){
    .nav{
        flex-direction: column;
        background-color: $bodyDark;
        position: fixed;
        left: 50%;
        width: 90%;
        height: 70%;
        top:50%;
        transform:translate(-50%,-50%);
        padding: 1rem 1rem;
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
        li{
            margin-top: 20px;
            .highlightQuote{
                display: block;
            }
        }

    }


    .nav.active{
        opacity: 1;
        pointer-events: auto;
    }

    .header{
        padding: 1rem 1rem;
    }

   .hamburger{
       display: block!important;
   }

   .heroSection{
    margin-top: 100px!important;
   }

   .header_section{
    height: 100%;
    
}


.counterSection{
    .counterContent{
        margin-top: 20px;
    }
}







}


@media all and (max-width:768px){
    .heroSection{
        text-align: center;
        h1{
            font-size: 2rem!important;
        }
        .heroImg{
            margin-top: 2rem;
        }
    }

    .valueSection{
        p{
            font-size: 30px!important;
        }

        .flipbox{
            margin-top: 20px;
            height: 100%!important;
            .back{
                p{
                    text-align: justify;
                    word-break: break-all;
                    line-height:30px!important;
                    font-size: 20px!important;
                  
                }
            }
        }
    }

    .aboutSection{
        p{
            text-align: justify;
            word-break: break-all;
        }
    }


    .counterSection{
        .counterContent{
            margin-top: 20px;
        }
    }


    .priceBox{
        height: 900px!important;
        &:hover{
            transform: scale(1)!important;
        }

        .bookBtn{
            bottom: 60px!important;
        }
    }






}


// end responsive navbar



