.valueSection{

    h4{
        font-size: 14px;
        font-weight: 700;
        color: $scondaryLight;
    }
    p{
        font-size: 38px;
        font-weight: 700;
        line-height: 34px;
    }

   

    .flipbox{
        transition: all 1s linear;
        p{
            font-size: 25px;
            margin-top: 10px;
        }
        img{
            width: 200px;
            object-fit: contain;
        }
    }

    

 .valueContainer{
     margin-top: 40px;
 }
    



    







}