.valueSection{
    h4{
        font-size: 14px;
        font-weight: 700;
        color: $scondaryLight;
    }
    p{
        font-size: 38px;
        font-weight: 700;
        line-height: 34px;
    }
}