
// import scss file
@import 'variables';
@import 'font';
@import 'header';
@import 'scrollbar';
@import 'responsive';
@import 'custom';
@import 'hero';
@import 'button';
@import 'about';
@import 'value';
@import 'counter';
@import 'service';
@import 'pricing';
@import 'footer';
@import 'contact';
@import 'faq';
@import 'client';
@import 'accor';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $nunito;
    text-decoration: none!important;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: $bodyDark;
}
